.Search.Search--online .Search-icon {
  top: 0;
  right: 0;
  left: unset;
  width: 42px;
  height: 42px;
  padding: 0;
  background-color: #ededed;
  border-radius: 0 21px 21px 0;
}

.Search.Search--radiusDropdown.is-active .Search-icon {
  border-radius: 0 21px 0 0;
}

.Search-clear {
  right: 44px !important;
}

.Search-input {
  padding-left: 1rem;
}
