{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ],
    ["@babel/preset-typescript"]
  ],
  "plugins": [
    [
      "transform-remove-console",
      {
        "exclude": ["error", "warn"]
      }
    ]
  ],
  "comments": false
}
