#_hj-f5b2a1eb-9b07_feedback ._hj-f5b2a1eb-9b07_feedback_minimized_label {
  position: absolute;
  top: 40%;
  display: flex;
  width: 318px;
  align-items: center;
  padding: unset;
  background: #005537;
  box-shadow: 0 0 35px 2px rgba(0, 0, 0, 0.24);
  color: white;
  transform: unset;
  transition: right 400ms;
}

#_hj-f5b2a1eb-9b07_feedback[data-minimized-position='middle_right']
  ._hj-f5b2a1eb-9b07_feedback_minimized_label {
  right: -300px;
  border-radius: 8px 0 0 8px;
}

#_hj-f5b2a1eb-9b07_feedback[data-minimized-position='middle_right']
  ._hj-f5b2a1eb-9b07_feedback_minimized_label:hover {
  right: -300px;
}

._hj-f5b2a1eb-9b07_feedback_minimized_label.label--show {
  right: 0 !important;
}

#_hj-f5b2a1eb-9b07_feedback
  ._hj-f5b2a1eb-9b07_feedback_minimized_label
  ._hj-f5b2a1eb-9b07_feedback_minimized_label_text {
  flex-grow: 1;
  padding: 10px;
  font-family: Akkurat !important;
  font-size: 16px;
  line-height: 20px;
  text-decoration: underline;
  transform: unset;
  writing-mode: unset;
}

.label_icon {
  display: flex;
  width: 18px;
  align-items: center;
  align-self: stretch;
  justify-content: center;
  border-radius: 8px 0 0 8px;
  cursor: pointer;
}

.label_close {
  padding: 14px !important;
  cursor: pointer;
}

.label_close svg {
  display: block;
}
