.quicklinks {
  display: flex;
  flex-wrap: wrap;
  margin: -10px -5px -20px;
  font-size: 12px;
  line-height: 16px;
}

.quicklinks::after {
  width: 130px;
  flex: auto;
  padding: 0 15px;
  margin: 0 6px;
  content: '';
}

.quicklinks .item {
  display: flex;
  width: 130px;
  box-sizing: border-box;
  flex-grow: 1;
  align-items: center;
  padding: 15px;
  border: 1px solid #ededed;
  margin: 5px;
  background-color: white;
  border-radius: 14px;
}

.item .icon {
  display: flex;
  width: 30px;
  min-width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  background-color: #e8f2d2;
  border-radius: 9999px;
}

.item .label {
  flex-grow: 1;
}

.item a {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 100%;
  box-sizing: initial;
  padding: 22px 15px 22px 55px;
  margin: -22px -15px -22px -55px;
  color: #333;
  text-decoration: none;
}

.item .two-lines {
  padding: 15px 15px 15px 55px;
  margin: -15px -15px -15px -55px;
}

.hidden {
  visibility: hidden;
}

@media only screen and (min-width: 769px) {
  .quicklinks {
    display: none;
  }
}
